* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  padding: 10px 30px;
  background-color: #ee534f;
}
.header h5 {
  font-weight: bold;
  font-family: Verdana;
  font-size: 28px;
  color: white;
}
/* upper button box */
.upper-btn-box {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 30px;
}
.upper-btn-box .left-box {
  width: 100%;
  height: 100px;
}
.upper-btn-box .right-box i {
  width: 25px;
  color: #4286f5;
  padding: 10px;
}
.upper-btn-box .right-box button {
  font-size: 25px;
  background-color: #4286f5;
}